.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
  margin-left: 8%;
  margin-right: 8%;
  gap: 25px;
}

.card {
  margin: 10px;
  flex: 1 0 21%; /* This means the card will grow and shrink as needed, and the base width is 21% */
  animation: slideIn 1s ease-out forwards;
}

.card:nth-child(even) {
  animation-delay: 0.1s;
}

.card:nth-child(odd) {
  animation-delay: 0.2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}