.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Change this line */
  padding: 10px;
  background-color:cadetblue;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Add this line */
}

.logo img {
  height: 50px;
}

.links {
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.links a:last-child {
  margin-right: 10;
}

.search-bar {
  margin-left: 10px;
  margin-top: 10;
  display: flex;
  align-items: center;
  height: 30px;
}